/* Файл dark.css */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000028;
    --accent-color: #ff0070;
    --heading-color: #db00ff;
    --hover-border-color: #ff007066;
    --menu-color: #ff0070;
    --text-color: #f1b2ce;
    --title-decor-color: #000028;
    --title-color: #ff0070;
    --rec-decor: flex;
  }

  .page {
    background-image: url(../images/cover-image-dark.png);
  }
}

.theme_dark.page {
  --background-color: #000028;
  --accent-color: #ff0070;
  --heading-color: #db00ff;
  --hover-border-color: #ff007066;
  --menu-color: #ff0070;
  --text-color: #f1b2ce;
  --title-decor-color: #000028;
  --title-color: #ff0070;
  --rec-decor: flex;
  background-image: url(../images/cover-image-dark.png);
}
