/* Файл light.css */

.theme_light.page {
  --text-color: var(--color-black-2, #353430);
  --accent-color: var(--color-pink-4, #ff8dcb);
  --title-color: var(--color-pink-3, #ffc2e6);
  --highlight-color: var(--color-black-2, #353430);
  --secondary-color: var(--color-black-2, #353430);
  --button-hover-color: var(--color-black-2-40, #35343066);

  --background-color: var(--color-pink-1, #fff1f7);
  --background-image: url("../images/cover-image-light.png");

  --rec-decor-visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: var(--color-black-2, #353430);
    --accent-color: var(--color-pink-4, #ff8dcb);
    --title-color: var(--color-pink-3, #ffc2e6);
    --highlight-color: var(--color-black-2, #353430);
    --secondary-color: var(--color-black-2, #353430);
    --button-hover-color: var(--color-black-2-40, #35343066);

    --background-color: var(--color-pink-1, #fff1f7);
    --background-image: url("../images/cover-image-light.png");

    --rec-decor-visibility: hidden;
  }
}

/* Файл variables.css */

:root {
  --color-pink-1: #fff1f7;
  --color-pink-2: #f1b2ce;
  --color-pink-3: #ffc2e6;
  --color-pink-4: #ff8dcb;

  --color-purple-1: #db00ff;
  --color-purple-2: #ff0070;
  --color-purple-2-40: #ff007066;

  --color-black-1: #000028;
  --color-black-2: #353430;
  --color-black-2-40: #35343066;

  --text-color: var(--color-pink-2, #f1b2ce);
  --title-color: var(--color-purple-1, #db00ff);
  --secondary-color: var(--color-purple-2, #ff0070);
  --button-hover-color: var(--color-purple-2-40, #ff007066);
  --accent-color: var(--color-purple-2, #ff0070);
  --highlight-color: var(--color-black-1, #000028);

  --font-family: "IBM Plex mono", monospace;
  --background-image: url("../images/cover-image.png");
  --background-color: var(--color-black-1, #000028);

  --rec-decor-visibility: visible;
}
