/* Файл light.css */
/* Блок медиа-запросов*/
.theme_light.page {
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --page-title-color: #ffc2e6;
  --highlight-color: #353430;
  --main-color: #353430;
  --button-hover-color: #35343066;
  --background-color: #fff1f7;

  --background-image: url("../images/cover-image-light.png");
  --rec-decor: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --page-title-color: #ffc2e6;
    --highlight-color: #353430;
    --main-color: #353430;
    --button-hover-color: #35343066;
    --background-color: #fff1f7;

    --background-image: url("../images/cover-image-light.png");
    --rec-decor: hidden;
  }
}
