/* Файл style.css */
.page {
  color: var(--text-color);
  font-family: var(--font-family, "IBM Plex Mono", monospace);
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-color: var(--background-color);
  background-image: url(../images/cover-image-light.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto 1fr auto;
  justify-items: end;
  align-items: start;
  padding: var(--general-padding);
  block-size: max(100vb, 668px);
}

.rec-decor {
  position: absolute;
  display: var(--rec-decor);
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
  inset-block-start: var(--general-padding);
  inset-inline-end: calc(var(--general-padding) + 8px);
}

.rec-decor::after {
  content: "";
  border-radius: 50%;
  background-color: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
  block-size: 9px;
  inline-size: 9px;
}

.header::before {
  content: "";
  position: absolute;
  display: block;
  border-inline-end: 1px solid var(--menu-color);
  border-block-start: 1px solid var(--menu-color);
  block-size: 25px;
  inline-size: 25px;
  inset-inline-end: var(--general-padding);
  inset-block-start: var(--general-padding);
}

.header::after {
  content: "";
  position: absolute;
  display: block;
  border-inline-start: 1px solid var(--menu-color);
  border-block-end: 1px solid var(--menu-color);
  block-size: 25px;
  inline-size: 25px;
  inset-inline-start: var(--general-padding);
  inset-block-end: var(--general-padding);
}

.header__theme-menu {
  margin-block-start: var(--menu-margin);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.header__theme-menu-button {
  border: none;
  padding: 0px 13px;
  color: var(--menu-color);
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--menu-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--menu-color);
  pointer-events: none;
}

.header__title {
  margin-block-start: var(--title-margin);
  max-inline-size: 364px;
}

.page-title {
  justify-self: start;
  color: var(--heading-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--accent-color);
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);
  padding: var(--main-padding-block) var(--general-padding);
}

.main__section {
  display: grid;
  gap: 20px;
}

.main__section-title {
  color: var(--title-color);
}

.main__section-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title-decor {
  color: var(--title-decor-color);
  font-weight: 700;
  background-color: var(--accent-color);
}

.title-section {
  font-weight: 400;
}

.card-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.card-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.card-link:focus {
  outline: none;
}

.card-link:focus-visible {
  outline: 1px solid var(--text-color);
}

.main__section.gallery {
  grid-template-rows: auto 142px 355px 237px 355px 237px;
}

.gallery-image {
  inline-size: 100%;
  block-size: 100%;
}

.gallery-image-item {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: var(--general-padding);
  block-size: max(100vb, 668px);
}

.footer::before {
  content: "";
  display: block;
  justify-self: end;
  border-inline-end: 1px solid var(--menu-color);
  border-block-start: 1px solid var(--menu-color);
  block-size: 25px;
  inline-size: 25px;
}

.footer::after {
  content: "";
  display: block;
  border-inline-start: 1px solid var(--menu-color);
  border-block-end: 1px solid var(--menu-color);
  block-size: 25px;
  inline-size: 25px;
}

.footer .page-title {
  justify-self: center;
  align-self: center;
  font-weight: 700;
  text-shadow: 2px 2px 0px var(--accent-color);
}

/* Блок медиа-запросов */

@media (width < 768px) {
  .gallery {
    gap: 10px;
  }
}

@media (width >= 768px) {
  @media (width < 1024px) {
    :root {
      --menu-margin: 172px;
      --title-margin: 162px;
    }
  }

  :root {
    --general-padding: 20px;
    --main-padding-block: 60px;
    --main-gap: 80px;
  }

  .page-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header .page-title {
    margin-inline-start: -20px;
  }

  .main__section {
    grid-template-columns: 236px 1fr 1fr;
  }

  .section_1 .main__section-content,
  .section_2 .main__section-content {
    grid-column: 2/4;
  }

  .factors .main__section-content {
    grid-column: span 3;
  }

  .section_2 .main__section-title {
    grid-row: span 2;
  }

  .section_2 .main__section-subtitle {
    grid-column: span 2;
  }

  .gallery .main__section-subtitle {
    grid-column: span 3;
  }

  .main__section.gallery {
    grid-template-rows: auto 192px 230px 318px;
  }

  .gallery-image:nth-of-type(1),
  .gallery-image:nth-of-type(5) {
    grid-column: span 2;
  }

  .gallery-image:nth-of-type(2),
  .gallery-image:nth-of-type(3) {
    grid-row: span 2;
  }
}

@media (width >= 1024px) {
  :root {
    --menu-margin: 0;
    --title-margin: 114px;
  }

  .header__theme-menu {
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header .page-title,
  .footer .page-title {
    text-shadow: 4px 4px 0px #ff0070;
  }

  .header__title {
    max-inline-size: 491px;
  }

  .main__section {
    grid-template-columns: repeat(3, 1fr);
  }

  .factors .main__section-content {
    grid-column: span 1;
    grid-row: 2/3;
  }

  .main__section.gallery {
    grid-template-rows: auto 260px 315px 428px;
  }
}
