/* Файл variables.css */

/* Переменные темной темы */

:root {
  --color-purple-1: #db00ff;
  --color-purple-2: #ff0070;
  --color-purple-2-40: #ff007066;
  --color-pink-2: #f1b2ce;
  --color-black-1: #000028;
}
